<html>

<head>

</head>

<body>
    <!--  -->
    <section id="gameOver" style="display: flex;justify-content:center;align-items:center">
        <div>
            <h1>PARABÉNS</h1>

            <h2 style="font-size: 2rem;">VOCÊ COLETOU TODAS AS ESTRELAS!</h2>

            <div style="display: flex;justify-content:center;">
                <button class="btn" id="replayGame" style="margin-top: 20px;background-color: #65B307;">Jogar Novamente</button><br>
            </div>
            <div style="display: flex;justify-content:center;">
                <button class="btn" id="returnMenu" style="margin-top: 20px;">Voltar para a tela inicial</button><br>
            </div>

        </div>
    </section>
</body>

</html>