<html>

<head>

</head>

<body>
    <!--  -->
    <div id="guia" class="d-none">
        <div class="closeScore">
            <button id="closeGuia"><img src="../assets/close.png" style="width: 30px;" alt=""></button>
        </div>
        <p style="font-size: 1.4rem;"><b>Controles</b></p>
        <p>tecla up: pular</p>
        <p>tecla left: andar para a esquerda</p>
        <p>tecla right: andar para a direita</p>
        <br>
        <p style="font-size: 1.4rem;"><b>Condição de Vitória:</b></p>
        <p>Coletar todas as 10 estrelas sem esbarrar no alien.</p>
        <br>
        <p style="font-size: 1.4rem;"><b>Condição de Derrota:</b></p>
        <p>Caso você esbarre no alien o jogo acaba.</p>

    </div>
</body>

</html>