<!DOCTYPE html>

<head>
</head>

<body>

    <style>
        .btn {
            padding: 10px;
            font-size: 1.2rem;
            width: 290px;
            border-style: none;
            background-color: #f55000;
            color: #ffffff;
            cursor: pointer;
            border-radius: 10px;
            height: 50px;
            font-family: "Montserrat";
            border: none;
        }
    </style>

    <button class="btn" id="playBtn" style="margin-top: 20px;background-color: #65B307;">Iniciar Jogo</button><br>
    <button class="btn" id="showGuia" style="margin-top: 20px;">Instruções</button><br>
    <button class="btn" id="showCredits" style="margin-top: 20px;">Créditos</button>
</body>

</html>